html{
    margin: 0;
    font-size:12px;
    font-family: "source-han-serif-cn-subset", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* overflow: hidden; */
    background-color: #f7f7f7;
  }

  body{
    margin: 0rem;
    padding: 0rem;
    transition: filter 1s ease, opacity 1s ease;
    filter: blur(0px); 
    opacity: 1; 
    background-color: #F7F7F7;
  }

  .blur {
    filter: blur(2px); /* 添加模糊 */
    opacity: 0.8; /* 半透明 */
}

.header {
  z-index: 999;
  position: fixed;
  top: 0rem;
  width: 100vw;
  height: 5vh;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center; /* 让 header-content 居中 */
  align-items: center;
  border-bottom: 1px solid var(--P-1, #8F40FF);
  background: var(--bg-color, #F7F7F7);
  text-transform: uppercase;
}

.header-content {
  display: flex;
  width: 90vw; 
  max-width: 100%;
  justify-content: space-between; /* 左右两边均匀分布 */
  align-items: center;
}

.title {
  flex: 0 0 auto; /* 确保标题不会缩放 */
}

.button {
  flex: 0 0 auto; /* 确保按钮不会缩放 */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8125rem;
  height: 1.8125rem;
  border-radius: 50%; /* 确保是圆形 */
  background: var(--P-1, #8F40FF);
  color: white; /* 文本颜色为白色 */
  font-family: Fang;
  font-size: 0.75rem; /* 文本大小 */
  cursor: pointer; /* 鼠标悬停时显示为指针 */
  text-align: center;
  line-height: 1; /* 确保文本垂直居中 */
}



.nav-mobile-toggle {
    grid-area: toggle;
    width: 6rem;
    height: 100%;
    padding: 0;
    border: none;
    /* border: 2px solid #8F40FF; */
    background: 0 0;
    outline: none;
    position: relative;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    background-color: #f7f7f7;
    overflow: hidden;
}

.nav-mobile-toggle, .nav-title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  pointer-events: all;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: none;
  border-color: buttonborder;
  border-image: initial;
}

.button-container{
  margin-top:10vh;
  color: var(--P-1, #8F40FF);
  font-family: "source-han-serif-cn-subset", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 1.5rem;
line-height: normal;
letter-spacing: -0.05625rem;
}

#toggleLanguage {
    appearance: button;
    background-color: transparent;
    background-image: none;
    color: var(--P-1, #8F40FF);
  font-family: "source-han-serif-cn-subset", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size: 1.5rem;
line-height: normal;
letter-spacing: -0.05625rem;
}



.toggle-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 1.5rem;
  width: 2.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1rem;
}

.toggle-burger--open .burger-line_bottom, .toggle-burger--open .burger-line_top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .7s cubic-bezier(.33,1,.68,1);
  transition: all .7s cubic-bezier(.33,1,.68,1);
}

.burger-line {
  height: 2px;
  width: 100%;
  display: block;
  background-color: #8F40FF;
  -webkit-transition: all .4s cubic-bezier(.32,0,.67,0);
  transition: all .4s cubic-bezier(.32,0,.67,0);
}

.toggle-burger--open .burger-line_middle {
  -webkit-transition: none;
  transition: none;
  opacity: 0;
}

.burger-line {
  height: 2px;
  width: 100%;
  display: block;
  background-color: #8F40FF;
  -webkit-transition: all .4s cubic-bezier(.32,0,.67,0);
  transition: all .4s cubic-bezier(.32,0,.67,0);
}

.toggle-burger--open .burger-line_bottom, .toggle-burger--open .burger-line_top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .7s cubic-bezier(.33,1,.68,1);
  transition: all .7s cubic-bezier(.33,1,.68,1);
}

.burger-line {
  height: 2px;
  width: 100%;
  display: block;
  background-color: #8F40FF;
  -webkit-transition: all .4s cubic-bezier(.32,0,.67,0);
  transition: all .4s cubic-bezier(.32,0,.67,0);
}

.toggle-close, .toggle-close-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.toggle-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-close-inner {
  height: 1.5rem;
  width: 2.5rem;
}

.toggle-close, .toggle-close-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.close-line:first-child {
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

.close-line {
  height: 2px;
  width: 100%;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #8F40FF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#map-container {
    position: relative;
    height: 100vh;
}


#map { 
    height: 100%; 
    /* filter:saturate(0) hue-rotate(270deg); */
    z-index: 1;
    position: relative;
} /* 设置地图容器的高度 */

#map::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8f40ff; /* 覆盖色 */
    mix-blend-mode: screen; /* 使用混合模式 screen */
    opacity: 0.5;
    pointer-events: none; /* 确保叠加色块不会影响地图交互 */
    z-index: 2;
}



.bouncing-icon {
    animation: bounce 1s infinite;
    z-index: 999;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    background-clip: padding-box;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    background-clip: padding-box;
}

.leaflet-top .leaflet-control {
    margin-top: 89vh;
}


